@font-face{
	font-family: dataerror;
	src: url(font/UNDATAME.ttf);
}
body{
	/*font-size: 12px;*/
	font-family: dataerror;
	background-color: #111;
	margin: 0px;
	/*overflow: hidden;*/
	color: #fff;
	padding:0;
	/*height:100%;*/
}
ul{
    list-style-type: none;
}
li{
	/*border: 1px solid indigo;*/
}
canvas{
	border: 1px dotted green;
	width:350px;
	height:190px;
	border-radius: 60px;
	margin-top: -1px;
	margin-left: -1px;
}
.container{
	position: relative;
	width: 84.25%;
	/*min-width: 400px;*/
	max-width: 85%;
	max-height: 80%;
	/*height: 100%;*/
	/*border: 1px solid crimson;*/
}
.container2{
	width: 100%;
	border: 1px solid crimson;
}
.draggable{
	position: relative;
	width:400px;
	height:210px;
	float: left;
	min-width: 100px;
	min-height: 100px;
	margin: 0 auto;
	border: 1px solid indigo;
}
.tv{
	position: relative;
	/*background-color: #000;*/
	border: 1px solid crimson;
	border-radius: 60px;
	width:350px;
	height:190px;
	/*float: left;*/
	min-width: 100px;
	min-height: 100px;
	margin: 0 auto;
	margin-top: 10px;

}
.ui-resizable-helper { 
	border: 2px dotted #00F; 
}
