@font-face{
	font-family: dataerror;
	src: url(font/UNDATAME.ttf);
}
body{
	/*font-size: 12px;*/
	font-family: dataerror;
	background-color: #111;
	margin: 0px;
	overflow: hidden;
	color: #fff;
	padding:0;
	/*height:100%;*/
}
ul{
    list-style-type: none;
}
li{
	/*border: 1px solid indigo;*/
}
canvas{
	/*border: 1px dotted green;*/
	width:450px;
	height:220px;
	border-radius: 60px;
	margin-top: -1px;
	margin-left: -1px;
}
.container{
	position: relative;
	width: 84.25%;
	/*min-width: 400px;*/
	/*max-width: 85%;*/
	width: 99%;
	/*max-height: 90%;*/

	height: 100%;
	/*border: 1px solid crimson;*/
}
.container2{
	width: 100%;
	position: fixed;
	/*border: 1px solid crimson;*/
	margin-top: -10px;
}
.draggable{
	position: relative;
	width:474px;
	height:240px;
	float: left;
	min-width: 100px;
	min-height: 100px;
	margin: 0 auto;
	border: 1px solid indigo;
}
.tv{
	position: relative;
	/*background-color: #000;*/
	/*border: 1px solid crimson;*/
	border-radius: 60px;
	width:450px;
	height:220px;
	/*float: left;*/
	min-width: 100px;
	min-height: 100px;
	margin: 0 auto;
	margin-top: 10px;

}
.ui-resizable-helper { 
	border: 2px dotted #00F; 
}
#audioDebug{
	width: 20px;
	height: 20px;
}

/*	.tv > .screen1 {
      -webkit-transform: rotateY(300deg) translateZ(-380px);
      -moz-transform: rotateY(300deg) translateZ(-380px);
      transform: rotateY(300deg) translateZ(-380px);
    }

    .tv > .screen2 {
      -webkit-transform: rotateY(330deg) translateZ(-380px);
      -moz-transform: rotateY(330deg) translateZ(-380px);
      transform: rotateY(330deg) translateZ(-380px);
    }

    .tv > .screen3 {
      -webkit-transform: rotateY(0deg) translateZ(-380px);
      -moz-transform: rotateY(0deg) translateZ(-380px);
      transform: rotateY(0deg) translateZ(-380px);
    }

    .tv > .screen4 {
      -webkit-transform: rotateY(30deg) translateZ(-380px);
      -moz-transform: rotateY(30deg) translateZ(-380px);
      transform: rotateY(30deg) translateZ(-380px);
    }*/